<HTML>
	<HEAD>
			<Buscador de hashtags en Twitter e Instagram>
	</HEAD>
	<BODY background="http://img856.imageshack.us/img856/2481/twitterlogobymegachix.jpg" />
		<H1 style="font-family:Comic Sans MS;color:#00CCFF;font-size:40px;"><CENTER><b>Buscador de hashtags en Twitter e Instagram</b></CENTER></H1>
			<H3>Escriba un hash y así realizar la busqueda:</H3>
			<P>
		<div id="contenido">
		<form  action="/resultados" method="post">
			<input type="text" name="busqueda"value="#" size="30">
			<br>
			<H4>Cantidad de hashtags que desea que se muestren:</H4>
			<input type="text" name="numtag" size="3">
			<P>
			<input type="submit" value="Aceptar" width="500" height="100">
			</P>
		</form>
		</div>
			</P>		
	</BODY>
</HTML>
